body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #375091; 
    padding: 20px;
}

header .logo img {
    height: 50px;
}

nav a {
    margin-left: 20px;
    color: #f4f4f9;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
header nav a[href="login page.html"] {
    background-color: #ffffff; /* White background */
    color: #4CAF50; /* Primary Color Text */
    font-weight: bold;
}

header nav a[href="login page.html"]:hover {
    background-color: #d4edda; /* Lightened Green */
    color: #333; /* Darker text on hover */
}
.container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #2e7d32;
}
button:hover {
    text-decoration: underline;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton {
    background-color: #2e7d32;
    color: white;
}

#pauseButton, #resumeButton {
    background-color: #d32f2f;
    color: white;
}

.breathing-guide {
    margin-top: 30px;
}

.circle {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
    background-color: #81c784;
}

#guideText {
    font-size: 20px;
    color: #2e7d32;
}