/* Q1 */
.static-box {
    position: static;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
  }
  
  /* Q2 */
  .relative-box {
    position: relative;
    left: 30px;
    top: 20px;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
  }
  
  /* Q3 */
  .container {
    position: relative;
    height: 100px;
    margin: 10px;
    background-color: lightcoral;
  }
  .absolute-box {
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: white;
    padding: 10px;
  }
  
  /* Q4 */
  .fixed-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: lightgreen;
    padding: 10px;
  }
  
  /* Q5 */
  .sticky-box {
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 10px;
  }
  .content {
    height: 200vh; 
  }
  
  /* Q6 */
  .background-image {
    background-image: url(https://azflowerworks.com/cdn/shop/files/TeddyBear.png?v=1692211617);
    background-size: cover;
    height: 200px;
    margin: 10px;
  }
  
  /* Q7 */
  .background-image-repeat {
    background-image: url(https://jamescressflorist.com/cdn/shop/files/194030lx.jpg?v=1711146573&width=900);
    background-repeat: repeat;
    height: 200px;
    margin: 10px;
  }
  
  /* Q8 */
  .box1 {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background-color: lightpink;
    top: 50px;
    left: 50px;
  }
  .box2 {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    background-color: purple;
    top: 70px;
    left: 70px;
  }
  
  /* Q9 */
  .flex-row {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 10px;
  }
  
  /* Q10 */
  .flex-column {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 10px;
  }
  
  /* Q11 */
  .flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
    margin: 10px;
  }
  
  /* Q12 */
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 10px;
  }
  
  /* Q13 */
  .flex-align-center {
    display: flex;
    align-items: center;
    height: 150px;
    background-color: lightcoral;
    margin: 10px;
  }
  
  /* Q14 */
  .flex-align-content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 200px;
    background-color: lightyellow;
    margin: 10px;
  }
  
  /* Q15 */
  .flex-grow-example {
    display: flex;
  }
  .flex-grow-example div:nth-child(2) {
    flex-grow: 2;
  }
  